@import '../../base/mixins';

.card-article-small{
    display: flex;
    gap: 15px;

    .image{
        min-width: 131px;
        min-height: 120px;
        border-radius: 10px;
        background: var(--Gris, #F2F2F2);
        margin-bottom: 8px;
    }

    @include laptop{
        .image{
            min-width: 128px;
            min-height: 117px;
        }
    }

    .texts{
        display: flex;
        flex-direction: column;
        gap: 2px;
        .title{
            color: var(--Azul-Colraices, #2A3F77);
            text-align: justify;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 0;
        }
    
        .description{
            color: var(--Azul-Colraices, #2A3F77);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
        }
    
        .author{
            color: var(--SUBITULO-HOME, #CAA55E);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 0;
        }
    }

}