//Colors
$white: #ffffff;
$blanco: #ffffff;
$white-alt: #f2f2f2;
$primary: rgb(53, 70, 118);
$primary-alt: #2a3f77;
$secondary: #caa55e;
$white-trans: #fafafac9;
$black: #000000;
$gray: #3b3b3b;
$gray-alt: #4d4d4d;

//Media Queries
$phone: 480px;
$tablet: 768px;
$laptop: 930px;
$desktop: 1200px;
$desktopxl: 1600px;

//Font weigth
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;

//spaces
$space: 4rem;
