@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globals';

// Button gray component
.btn-gray{
    background: rgba(147, 146, 146, 0.72);
    padding: 7px 15px;
    border-radius: 26px;
    color: white;
    border: 1px solid var(--BLANCO, #FFF);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

// Button blue component
.btn-blue{
    padding: 7px 15px;
    border-radius: 26px;
    color: white;
    background: var(--Azul-Colraices, #2A3F77);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

// button blue component xl
.btn-blue-xl{
    border-radius: 26px;
    color: var(--BLANCO, #FFF);
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 237px;
    height: 37px;
    background: var(--Azul-Colraices, #2A3F77);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

    &:hover{
        color: var(--SUBITULO-HOME, #CAA55E);
        border-radius: 26px;
        border: 1px solid var(--SUBITULO-HOME, #CAA55E);
        background: var(--gris-fondos-cards-2, #EBEBEB);
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

// Button gray xl component
.btn-gray-xl{
    background: rgba(147, 146, 146, 0.72);
    border: 1px solid var(--BLANCO, #FFF);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 26px;
    color: var(--BLANCO, #FFF);
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 6px 36px;
    line-height: normal;

    &:hover{
        color: var(--SUBITULO-HOME, #CAA55E);
        border-radius: 26px;
        border: 1px solid var(--SUBITULO-HOME, #CAA55E);
        background: var(--gris-fondos-cards-2, #EBEBEB);
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

// button blue component desktop
.btn-blue-desktop{
    border-radius: 26px;
    color: var(--BLANCO, #FFF);
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 6px 36px;
    width: 241px;
    height: 37px;
    background: var(--Azul-Colraices, #2A3F77);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

// button gold component rounded
.btn-gold-rounded{
    border-radius: 0px 8px 8px 8px;
    background: var(--DORADO-COLRAICES, #CAA55E);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 193px;
    height: 27px;
}
/* Estilos generales del widget */
#whatsapp-widget {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 9999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
}

/* Estilos del logo de WhatsApp */
#whatsapp-widget img {
    width: 40px;
    height: 40px;
}