@import '../../base/variables';
@import '../../base/mixins';

section.Property-container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 30px;

    h2 {
        position: relative;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        max-width: 100rem;
        @include laptop{
            .timeline{
                display: none;
            }
        }
    }

    div.title-container{
        display: flex;
        flex-direction: column;
        gap: 5px;

        p{
            color: var(--AZUL-COLRAICES, #2A3F77);
            text-align: center;
        
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .timeline-desktop{
            display: none;
        }

        @include laptop{
            padding: 65px 84px 26px 144px;
            justify-content: center;
            align-items: center;
            gap: 22px;
            p{
                font-size: 35px;
                margin: 0;
                width: 100%;
            }
            
            .container-timeline{
                display: flex;
                justify-content: center;
                gap: 80px;
            }
            
            .timeline-desktop{
                position: relative;
                width: 130px;
                display: block;
            }

        }
    }

    div.Property-title {
        display: grid;
        place-content: center;
        width: 19.3rem;
        height: 2.7rem;
        background: $secondary;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 0px 8px 8px 8px;
        margin: 0 auto 3rem auto;
        grid-area: title;
    }

    p {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.8rem;
        max-width: 30rem;
        margin: 0.5rem auto 0 auto;
        white-space: pre-line;
        text-align: justify;
    }


    @include laptop {
        // padding: 5rem 0 6rem 0;
        // box-shadow: 3.18px 3.18px 10.58px rgba(102, 101, 101, 0.58);
        padding: 0;
        h2 {
            display: flex;
            font-size: 48px;
            line-height: 4.3rem;
            margin: 0;
        }

        div.Property-title {
            width: 43.7rem;
            height: 6rem;
            align-self: end;
            margin: 0 0 5rem 0;
        }

        p {
            font-size: 2.4rem;
            line-height: 3rem;
            max-width: fit-content;
        }

    }
}
