@import '../../sass/base/mixins';

.recommendedProjects{
    position: relative;
    padding: 65px 0 48px 0;

    div.btn-recommended{
        display: flex;
        justify-content: center;
        button{
            margin-bottom: 30px;
        }
    }

    @include laptop{
        display: flex;
        justify-content: center;
        
        div.btn-recommended{
            display: none;
        }
    }

    div.container-text-btn{
        .btn-gold-rounded-desktop{
            display: none;
        }

        @include desktop{

            .btn-recommended-desktop{
                margin-top: 40px;
            }

            .btn-gold-rounded-desktop{
                display: block;
                border-radius: 0px 8px 8px 8px;
                background: var(--DORADO-COLRAICES, #CAA55E);
                box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
                color: #FFF;
                text-align: center;
            
                font-size: 35px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    .circle1{
        position: absolute;
        width: 43px;
        height: 134px;
        left: 7px;
        top: 80px;

        @include desktop{
            width: 175px;
            height: 543px;
            top: -45px;
        }
    }

    .circle2{
        position: absolute;
        width: 39px;
        height: 132px;
        right: 7px;
        bottom: 160px;

        @include desktop{
            width: 159px;
            height: 492px;
            bottom: -180px;
        }
    }

    div.container-projects-btn{
        .slider-button-desktop{
            display: none;
        }

        @include laptop{
            .slider-button-desktop{
                display: flex;
                justify-content: center;
                gap: 5px;
                align-items: center;
                margin-top: 5px;
                span{
                    color: var(--DORADO-COLRAICES, #CAA55E);
                    text-align: justify;
                
                    font-size: 29px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px; /* 166.667% */
                    span{
                        color: var(--DORADO-COLRAICES, #CAA55E);
                    
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 30px;
                    }
                }
            }

            div.container-projects{
                width: 553px;
                height: 410px;
                position: relative;
                article{
                    .name-project{
                        bottom: 25px;
                        left: 31px;
                        position: absolute;
                        display: block;
                        width: 258px;
                        height: 50px;
                        border-radius: 0px 0px 20px 0px;
                        background: var(--DORADO-COLRAICES, #CAA55E);
                        z-index: 100;
                        border: 1px solid #FFF;
                    
                        font-size: 30px;
                        text-align: center;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140.4%; /* 42.12px */
                        color: white;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                    .project-img {
                        width: 553px;
                        height: 410px;
                    }
                }
            }

        }
    }

    div.container-projects {
        height: 210px;
        text-align: center;
        position: relative;
        display: flex;
        overflow: hidden;
    
        article {
            .name-project{
                display: none;
            }

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.3s linear;
        }
          
        article.activeSlide {
            opacity: 1;
            transform: translateX(0);
        }
        
        article.lastSlide {
            transform: translateX(-100%);
        }
        
        article.nextSlide {
            transform: translateX(100%);
        }
          
        .project-img {
            width: 290px;
            height: 220px;
        }
    }

    div.slider-button{
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        margin-top: 10px;
        span{
            color: var(--DORADO-COLRAICES, #CAA55E);
            text-align: justify;
        
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 166.667% */
            span{
                color: var(--DORADO-COLRAICES, #CAA55E);
            
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
            }
        }
    }

    @include laptop {
        div.slider-button{
            display: none;
        }
    }
    
    div.container-texts{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5px;
        width: 291px;
        margin: 5px auto 0 auto;

        .p-mobile{
            margin: 0;
            color: #4D4D4D;
            text-align: justify;
        
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }

        .p-desktop{
            display: none;
        }
    
        span{
            color: #4D4D4D;
        
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
        }

        @include desktop{
            margin: 47px auto 0 auto;
            width: 559px;  
            
            .p-mobile{
                display: none;
            }

            .p-desktop{
                display: block;
                color: #4D4D4D;
            
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 125% */
            }

            span{
                display: none;
            }
        }
    }
    
    .offer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 26px;

        .offer-btn{
            border-radius: 49px;
            border: 1px solid #FFF;
            color: white;
            width: 193px;
            padding: 5px 0;
            display: flex;
            font-weight: 700;
            justify-content: center;
            gap: 5px;
            align-items: center;
            background: var(--AZUL-COLRAICES, #2A3F77);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            
            @include desktop{
                display: none;
            }
        }

        .star-btn{
            display: none;
            
            @include desktop{
                display: block;
                border-radius: 49px;
                border: 1px solid #FFF;
                color: white;
                width: 210px;
                padding: 7px 0;
                display: flex;
                font-weight: 700;
                justify-content: center;
                gap: 5px;
                align-items: center;
                background: var(--AZUL-COLRAICES, #2A3F77);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                &:hover{
                    color: #FFF;
                    border-radius: 49px;
                    border: 1px solid #FFF;
                    background: var(--DORADO-COLRAICES, #CAA55E);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }
            }
        }

        @include desktop{
            justify-content: start;
            padding-top: 16px;
        }


    }
}

