@import '../../base/mixins';
.Figure-left {
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 2;
    @include tablet {
        width: 10rem;
        height: 35rem;
        top: 3rem;
    }
    @include laptop {
        width: 12rem;
        height: 42rem;
        top: 3rem;
        left: 0;
    }
    @media (min-width: 1440px) {
        width: 15rem;
        height: 48rem;
        top: 3rem;
        left: 0;
    }
}

.Figure-right {
    position: absolute;
    bottom: 19.5rem;
    right: 0;
    z-index: 2;
    @include tablet {
        width: 10rem;
        height: 35rem;
        bottom: 3rem;
    }
    @include laptop {
        width: 12rem;
        height: 42rem;
        bottom: 3rem;
        right: 0;
    }
    @media (min-width: 1440px) {
        width: 15rem;
        height: 48rem;
        bottom: 3rem;
        right: 0;
    }
}
